.button {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  background-color: #fa8231;
  border-radius: 5px;
  transition: all 0.4s ease-in;
  &:hover,
  &:focus,
  &:active {
    background-color: #f7b731;
  }
}
