.streamform {
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-width: 90%;
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  &__label {
    margin-bottom: 0.5rem;
  }
  &__input {
    height: 3rem;
    font-size: inherit;
    font-size: inherit;
    padding: 0 1rem;
    border: none;
    outline: none;
    &:focus {
      outline: 2px solid green;
    }
  }
}
