* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}

.main-content {
  min-height: 70vh;
  background-color: #dfe4ea;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.page {
  width: 110rem;
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
